<html>
<head>
<title>ADA-PIPE</title>
</head>
   <body>
        </br>
        </br>
        </br>
        <!--<form action = "/download" method = "GET"
         enctype = "multipart/form-data">
                 <a href="http://194.182.187.139/requirements">Download - requirements (template)</a>
        </form>-->
        <form action = "/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
        </form>
   </body>
</html>
