<html>
<head>
<title>ADA-PIPE</title>
</head>
<body>
<h2>Inputs and output of ADA-PIPE<h2/>
    <ul>
    <form method="post" action="/">
        <input type="submit" value="INPUT1 - requirements (template)" name="action1"/>
        <input type="submit" value="INPUT1 - requirements (from BC)" name="action2"/>
        <input type="submit" value="INPUT2 - resources" name="action3"/>
	<input type="submit" value="OUTPUT" name="action3"/>
     </form>
     </ul>
    <ul>
	<a href="http://194.182.187.139:5000/swagger/">ADA-PIPE Swagger UI</a>
    </ul>
</body>
</html>
